.register{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom, rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0.39) 100%), 
        url('../../assets/images\ \(10\).jpg');

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .rTop{
        .rWrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                height: 40px;
            }

            .loginBtn{
                border: none;
                color: white;
                background-color: red;
                font-size: large;
                font-weight: bold;
                padding: 12px;
                border-radius: 5px;

                &.hover{
                    cursor: pointer;
                }
               
            }
        }

    }
    .rContainer{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-transform: capitalize;

        h1{
            font-size: 35px;
        }

        h2{
            margin: 20px 0px;
        }

        p{
            font-size: 16px;
        }

        .rInput{
            width: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 50px;
            border-radius: 5px;

            input{
                flex: 9;
                height: 100%;
                border: none;
                padding: 0 10px;
                outline: none;
            }

             button{
                flex: 3;
                border: none;
                height: 100%;
                background-color: red;
                font-size: 20px;
                font-weight: bold;
                color: white;
                cursor: pointer;
             }
        }

    }
}