.featured{
    height: 90vh;
    position: relative;
    background-image: url('../../assets/images\ \(10\).jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;

        select{
            cursor: pointer;
            background-color: #0b0b0b;
            color: white;
            border: 1px solid white;
            margin-left: 20px;
            padding: 5px;
            option{
                padding: 10px;
            }
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info{
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 70px;
        color: white;
        display: flex;
        flex-direction: column;

        img{
            width: 400px;
            height: 200px;
        }

        .desc{
            margin: 20px 0px;
            font-size: 16px;
        }

        .buttons{
            display: flex;
        }

        button{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 500;
            margin-right: 10px;
            cursor: pointer;

            &.play{
                color: #0b0b0b;
                background-color: white;
            }

            &.more{
                color: white;
                background-color: gray;
            }

            span{
                margin-left: 5px;
            }
        }
    }
}